In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
movies = movies.merge(credits, on='title')

In [6]:
movies['original_language'].value_counts()

en    4510
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
ko      12
cn      12
ru      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
id       2
ar       2
vi       1
sl       1
ps       1
no       1
ky       1
hu       1
pl       1
af       1
nb       1
tr       1
is       1
xx       1
te       1
el       1
Name: original_language, dtype: int64

In [7]:
#genres
#id
#keywords
#title
#overview
#cast
#crew

movies = movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [8]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4809 non-null   int64
 1   title     4809 non-null   object
 2   overview  4806 non-null   object
 3   genres    4809 non-null   object
 4   keywords  4809 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.6+ KB

In [9]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [10]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [11]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [12]:
movies.dropna(inplace=True)

In [13]:
movies.duplicated().sum()

0

In [14]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [15]:
import ast

def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [16]:
movies['genres'] = movies['genres'].apply(convert)

In [17]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [18]:
movies['keywords'] = movies['keywords'].apply(convert)

In [19]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [20]:
def convert3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if(counter!=3):
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [21]:
movies['cast'] = movies['cast'].apply(convert3)

In [22]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [23]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if(i['job']=='Director'):
            L.append(i['name'])
            break
    return L

In [24]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [25]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [26]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [27]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [28]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [29]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [30]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [31]:
movies['tags'] = movies['cast']

In [32]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[SamWorthington, ZoeSaldana, SigourneyWeaver]"
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[JohnnyDepp, OrlandoBloom, KeiraKnightley]"
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[DanielCraig, ChristophWaltz, LéaSeydoux]"
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[ChristianBale, MichaelCaine, GaryOldman]"
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[TaylorKitsch, LynnCollins, SamanthaMorton]"

In [33]:
movies['tags'][0]

['SamWorthington', 'ZoeSaldana', 'SigourneyWeaver']

In [34]:
new_df = movies[['movie_id','title','tags']]

In [35]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\SARVESH GANGU\AppData\Local\Temp\ipykernel_15848\3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [36]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,SamWorthington ZoeSaldana SigourneyWeaver
1,285,Pirates of the Caribbean: At World's End,JohnnyDepp OrlandoBloom KeiraKnightley
2,206647,Spectre,DanielCraig ChristophWaltz LéaSeydoux
3,49026,The Dark Knight Rises,ChristianBale MichaelCaine GaryOldman
4,49529,John Carter,TaylorKitsch LynnCollins SamanthaMorton

In [37]:
new_df['tags'][0]

'SamWorthington ZoeSaldana SigourneyWeaver'

In [38]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\SARVESH GANGU\AppData\Local\Temp\ipykernel_15848\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [39]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,samworthington zoesaldana sigourneyweaver
1,285,Pirates of the Caribbean: At World's End,johnnydepp orlandobloom keiraknightley
2,206647,Spectre,danielcraig christophwaltz léaseydoux
3,49026,The Dark Knight Rises,christianbale michaelcaine garyoldman
4,49529,John Carter,taylorkitsch lynncollins samanthamorton

In [40]:
import nltk

In [41]:
from nltk.stem.porter import PorterStemmer

ps = PorterStemmer()

In [42]:
def stem(text):
    y = []
    
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [43]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\SARVESH GANGU\AppData\Local\Temp\ipykernel_15848\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [44]:
new_df['tags'][0]

'samworthington zoesaldana sigourneyweav'

In [45]:
new_df['tags'][1]

'johnnydepp orlandobloom keiraknightley'

In [46]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=5000, stop_words='english')

In [47]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [48]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [49]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [50]:
cv.get_feature_names()

D:\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['50cent',
 'aaliyah',
 'aamirkhan',
 'aaranthoma',
 'aaronabram',
 'aaroneckhart',
 'aaronkwok',
 'aaronpaul',
 'aaronruel',
 'aaronstanford',
 'aarontaylor',
 'aaronyoo',
 'aasheekaabathija',
 'aasifmandvi',
 'abbeylincoln',
 'abbiecornish',
 'abhinayvaddi',
 'abhishekbachchan',
 'abigailbreslin',
 'abigailhargrov',
 'abigailspenc',
 'abo',
 'acemarrero',
 'adam',
 'adambaldwin',
 'adambeach',
 'adambousdouko',
 'adambrodi',
 'adambrook',
 'adambutch',
 'adamcampbel',
 'adamcarolla',
 'adamclayton',
 'adamdriv',
 'adamg',
 'adamgarcia',
 'adamgoldberg',
 'adamgreaves',
 'adamlamberg',
 'adamlevin',
 'adampasc',
 'adamrayn',
 'adamrifkin',
 'adamrodríguez',
 'adamsandl',
 'adamscott',
 'adamtres',
 'adamwest',
 'adarbeck',
 'adelaideclemen',
 'adelemara',
 'adewaleakinnuoye',
 'adilkoukouh',
 'adolfoc',
 'adolphdavi',
 'adolphemenj',
 'adrianabarraza',
 'adrianacaselotti',
 'adriandunbar',
 'adriangaeta',
 'adriangonzalez',
 'adriangreni',
 'adrianjam',
 'adriannepalicki',
 'adrianogiannini',
 'adrianpaul',
 'adrienbrodi',
 'adriennebarbeau',
 'adriennek',
 'adriennepick',
 'adriánalonsobarona',
 'agatakulesza',
 'agatatrzebuchowska',
 'agbaj',
 'agnesbruckn',
 'agniyaditkovskit',
 'agosto',
 'ahnaisechristma',
 'ahnsung',
 'aidandevin',
 'aidangillen',
 'aidanmcardl',
 'aidanquinn',
 'aimeegarcia',
 'aimeeteegarden',
 'aishwaryaraibachchan',
 'aislinnderbez',
 'aitanasánchez',
 'ajanaomik',
 'ajmichalka',
 'akihiromiwa',
 'akikowakabayashi',
 'akselhenni',
 'akshayekhanna',
 'akshaykumar',
 'alainmoussi',
 'alakinamann',
 'alanalda',
 'alanarkin',
 'alanb',
 'alanbean',
 'alancox',
 'alancum',
 'alank',
 'alanrickman',
 'alantudyk',
 'alanvansprang',
 'albandiero',
 'albertbrook',
 'albertdupontel',
 'albertfinney',
 'alberthal',
 'albertosanjuan',
 'aldenehrenreich',
 'alecbaldwin',
 'alecguin',
 'alecmccowen',
 'aleishaallen',
 'aleishaforc',
 'aleksandrrobak',
 'alekseychadov',
 'alessandrogassman',
 'alessandronivola',
 'alessandropreziosi',
 'alexanderg',
 'alexandergodunov',
 'alexandergould',
 'alexanderkarim',
 'alexanderludwig',
 'alexanderpolinski',
 'alexanderpollock',
 'alexandersch',
 'alexandersiddig',
 'alexanderskarsgård',
 'alexandradaddario',
 'alexandramarialara',
 'alexandrarapaport',
 'alexandrerodrigu',
 'alexanfang',
 'alexanikola',
 'alexapenavega',
 'alexborstein',
 'alexbriley',
 'alexd',
 'alexiegilmor',
 'alexisbledel',
 'alexisgeorgouli',
 'alexiskendra',
 'alexkarpovski',
 'alexkendrick',
 'alexlawth',
 'alexmichaeleto',
 'alexo',
 'alexpetrovitch',
 'alexpettyf',
 'alexreid',
 'alexro',
 'alexrocco',
 'alexrussel',
 'alexveadov',
 'alexvinc',
 'alexwint',
 'alfieallen',
 'alfredabel',
 'alfredmolina',
 'alfrewoodard',
 'algor',
 'aliashawkat',
 'alicebraga',
 'aliceenglert',
 'aliceev',
 'aliceevan',
 'alicefay',
 'alicegarn',
 'aliceparkinson',
 'alicepatten',
 'alicepol',
 'aliciamendez',
 'aliciasilverston',
 'aliciavikand',
 'aliciawitt',
 'alicjabachleda',
 'alicobrin',
 'alifadhil',
 'alikazim',
 'alilandri',
 'alilart',
 'alioutouré',
 'alisonbri',
 'alisonlohman',
 'alisonmonda',
 'alisonraimondi',
 'allanbryanweku',
 'allancordun',
 'allangildea',
 'allencovert',
 'allendanzig',
 'allenfiuzat',
 'allenjoseph',
 'allenpayn',
 'alliemickelson',
 'allisonegan',
 'allisonjanney',
 'allisonmil',
 'allisonpaig',
 'allisontolman',
 'allysheedi',
 'allysonsereboff',
 'alonnashaw',
 'alpacino',
 'alymichalka',
 'alysonhannigan',
 'alyssamilano',
 'amancayaaguilar',
 'amandabyn',
 'amandacrew',
 'amandapeet',
 'amandaplumm',
 'amandaschul',
 'amandaseyfri',
 'amandatap',
 'amaramil',
 'amario',
 'amberheard',
 'ambermariebolling',
 'ambertamblyn',
 'ambervalletta',
 'americaferrera',
 'americaolivo',
 'amiayalon',
 'amiepetersen',
 'amirfarrokhhashemian',
 'amitabhbachchan',
 'amor',
 'amosoz',
 'amyack',
 'amyadam',
 'amybadberg',
 'amybrenneman',
 'amycarson',
 'amyhargreav',
 'amyhathaway',
 'amyirv',
 'amypoehl',
 'amyryan',
 'amyschum',
 'amysmart',
 'amysteel',
 'amystewart',
 'anaclaudiatalancón',
 'anacoto',
 'anadelareguera',
 'analeightipton',
 'anamariaguran',
 'anamariamarinca',
 'anawagen',
 'anderson',
 'andiemacdowel',
 'andreabrook',
 'andreaeckert',
 'andreaedmondson',
 'andreavergara',
 'andrebraugh',
 'andreemaranda',
 'andreemoss',
 'andrewbujalski',
 'andrewcaldwel',
 'andrewdiceclay',
 'andrewgarfield',
 'andrewj',
 'andrewjacob',
 'andrewkeegan',
 'andrewlincoln',
 'andrewmil',
 'andrewneil',
 'andrewnewberg',
 'andrewpark',
 'andrewrobinson',
 'andrewsensenig',
 'andrewshim',
 'andrébenjamin',
 'andrédussolli',
 'andréramiro',
 'andréwilm',
 'andyanderson',
 'andycohn',
 'andydavoli',
 'andydick',
 'andygarcía',
 'andygriffith',
 'andykaufman',
 'andylau',
 'andynyman',
 'andyricht',
 'andysamberg',
 'andyserki',
 'aneurinbarnard',
 'angelabassett',
 'angelabetti',
 'angelicale',
 'angelikipapoulia',
 'angelinaidnani',
 'angelinajoli',
 'angelo',
 'angelojosuelozanocorzo',
 'angiedickinson',
 'angieharmon',
 'angusmacfadyen',
 'angusscrimm',
 'angélicaaragón',
 'anikanoniros',
 'anilkapoor',
 'anilraman',
 'anitabriem',
 'anitalaurenzi',
 'anitamui',
 'anitapag',
 'anitapallenberg',
 'anjelicahuston',
 'anna',
 'annabellasciorra',
 'annabellew',
 'annabethgish',
 'annabolshova',
 'annachlumski',
 'annaclairesne',
 'annafari',
 'annafriel',
 'annagurji',
 'annahutchison',
 'annakarina',
 'annakendrick',
 'annaleejefferi',
 'annaloo',
 'annaltieri',
 'annamariahorsford',
 'annapaquin',
 'annapopplewel',
 'annasophiarobb',
 'anndowd',
 'anne',
 'annearch',
 'annebancroft',
 'annechazel',
 'annedown',
 'annehathaway',
 'annehech',
 'annemoss',
 'annesuzuki',
 'annetteben',
 'anniecorley',
 'annlynn',
 'annmagnuson',
 'annmil',
 'anselelgort',
 'ansonmount',
 'anthonyanderson',
 'anthonydesando',
 'anthonyedward',
 'anthonyheald',
 'anthonyhopkin',
 'anthonyjohnson',
 'anthonylapaglia',
 'anthonymacki',
 'anthonyperkin',
 'anthonyquayl',
 'anthonyquinn',
 'anthonyrapp',
 'anthonystewarthead',
 'anthonywong',
 'antoinemclean',
 'antoniobandera',
 'antoniocantafora',
 'antonyelchin',
 'anushkasharma',
 'anwarcongo',
 'anyataylor',
 'arbanvil',
 'archiekao',
 'arci',
 'ariadnagil',
 'arianarichard',
 'arianastephen',
 'ariellekebbel',
 'ariellevi',
 'arielwint',
 'arifherati',
 'arifolman',
 'arigraynor',
 'ariéelmaleh',
 'arletti',
 'arlyjov',
 'armandassant',
 'armandoespitia',
 'armiehamm',
 'arminhabibovich',
 'arminmueller',
 'arminrohd',
 'arnoldschwarzenegg',
 'arshadwarsi',
 'arsinéekhanjian',
 'artcarney',
 'artemmishin',
 'arthsu',
 'arthurage',
 'arthurdupont',
 'arthurhil',
 'arthurkennedi',
 'artieahr',
 'artielang',
 'artyombogucharski',
 'asabutterfield',
 'ashanti',
 'ashleighgryzko',
 'ashleybel',
 'ashleygreen',
 'ashleyhay',
 'ashleyjohnson',
 'ashleyjudd',
 'ashleylaur',
 'ashleyolsen',
 'ashleyscott',
 'ashleytisdal',
 'ashtonkutch',
 'asiaargento',
 'asinthottumk',
 'astridbergès',
 'astro',
 'atossaleoni',
 'aubreyplaza',
 'audreyhepburn',
 'audreytaut',
 'austin',
 'austinbasi',
 'austinbutl',
 'austinstok',
 'avagardn',
 'averyschreib',
 'avrahamshalom',
 'ayeletzur',
 'ayeshaomar',
 'ayushtandon',
 'azizansari',
 'azizmuradillayev',
 'babybash',
 'baedoona',
 'bahareseddiqi',
 'bail',
 'baileemadison',
 'bailey',
 'balthazargetti',
 'bammargera',
 'barackobama',
 'barbaraadam',
 'barbarabach',
 'barbarabox',
 'barbarabrenn',
 'barbaracarrera',
 'barbaraehrenreich',
 'barbaraharri',
 'barbarahershey',
 'barbaramamabolo',
 'barbrastreisand',
 'barneyclark',
 'barretoliv',
 'barri',
 'barrybostwick',
 'barrycorbin',
 'barryfost',
 'barrymcevoy',
 'barrymil',
 'barrypepp',
 'barrywatson',
 'bartrobinsoncook',
 'basharrah',
 'basilrathbon',
 'bdwong',
 'beatricestraight',
 'beaubridg',
 'beauknapp',
 'bebedaniel',
 'bebeneuwirth',
 'beevang',
 'belindabeck',
 'belladonna',
 'bellaheathcot',
 'bellathorn',
 'belpowley',
 'belénrueda',
 'benaffleck',
 'benbarn',
 'benbrowd',
 'benburtt',
 'benchaplin',
 'bencross',
 'bendavi',
 'bendiskin',
 'bendrew',
 'benedictcumberbatch',
 'benfeldman',
 'benfost',
 'bengar',
 'bengazzara',
 'beniciodeltoro',
 'benjaminbratt',
 'benjamindickinson',
 'benjaminwalk',
 'benkingsley',
 'benlyon',
 'benmendelsohn',
 'benmil',
 'bennofürmann',
 'benoîtmagimel',
 'benoîtpoelvoord',
 'benpiazza',
 'benrovn',
 'benschwartz',
 'benshenkman',
 'benstil',
 'bentleymitchum',
 'benweb',
 'benwhishaw',
 'benyoucef',
 'bernadettepet',
 'bernardnoël',
 'berniemac',
 'bessarmstrong',
 'bessielov',
 'bethbroderick',
 'bethgrant',
 'betsyrussel',
 'bettedavi',
 'bettemidl',
 'bettyhutton',
 'bettyschuurman',
 'bettythoma',
 'bettywhit',
 'beverlyd',
 'beyoncéknowl',
 'bholebaba',
 'bhumikachawla',
 'biancabre',
 'bigboi',
 'bijouphillip',
 'billbaird',
 'billbarretta',
 'billbellami',
 'billbillion',
 'billcamp',
 'billclinton',
 'billfagerbakk',
 'billgoldberg',
 'billhad',
 'billlobley',
 'billmah',
 'billmelendez',
 'billmoseley',
 'billmurray',
 'billnighi',
 'billpaxton',
 'billpullman',
 'billwalton',
 'billybobthornton',
 'billyboyd',
 'billyburk',
 'billycampbel',
 'billyconnolli',
 'billycrudup',
 'billycryst',
 'billydeewilliam',
 'billyhufsey',
 'billyraycyru',
 'billywest',
 'billyzan',
 'bipashabasu',
 'birgittefederspiel',
 'birgittehjortsørensen',
 'birolünel',
 'björk',
 'blairunderwood',
 'blakeclark',
 'blakeheron',
 'blakel',
 'blanchardryan',
 'blayneweav',
 'blondinmiguel',
 'blytheauffarth',
 'blythedann',
 'bobbalaban',
 'bobbycampo',
 'bobbycannaval',
 'bobbycoleman',
 'bobbykendal',
 'bobcosta',
 'bobdylan',
 'bobgunton',
 'bobhoskin',
 'bobodenkirk',
 'bobpapenbrook',
 'bobzmuda',
 'bojananovaković',
 'bokeemwoodbin',
 'boloyeung',
 'bongkojkhongmalai',
 'bongsoohan',
 'bonniebartlett',
 'bonniebedelia',
 'bonniehenna',
 'bonniehunt',
 'bono',
 'bonzmalon',
 'boog',
 'boriskodjo',
 'boydbank',
 'bradcart',
 'braddourif',
 'bradforddillman',
 'bradhunt',
 'bradjohnson',
 'bradleycoop',
 'bradlore',
 'bradpitt',
 'bradrenfro',
 'bradycorbet',
 'brandonbal',
 'brandongonzal',
 'brandonhenschel',
 'brandonle',
 'brandonratcliff',
 'brandonrouth',
 'brandont',
 'brandtwil',
 'brandymaasch',
 'brandywhitford',
 'brankođurić',
 'breckinmey',
 'breewilliamson',
 'brendablethyn',
 'brendan',
 'brendancowel',
 'brendanfehr',
 'brendanfletch',
 'brendanfras',
 'brendangleeson',
 'brendanmackey',
 'brendansextoniii',
 'brendastrong',
 'brendavaccaro',
 'brennan',
 'brentonthwait',
 'brentspin',
 'brettgranstaff',
 'brettkelli',
 'brianaevigan',
 'brianaustingreen',
 'brianbless',
 'brianboland',
 'brianbosworth',
 'briancox',
 'briandennehi',
 'briangeraghti',
 'brianherzling',
 'brianhook',
 'briankeithallen',
 'briankraus',
 'brianmurray',
 'briannesiddal',
 'briano',
 'brianvanholt',
 'bridgetfonda',
 'bridgetmoynahan',
 'bridgettewilson',
 'briegabriel',
 'brielarson',
 'brien',
 'brightonsharbino',
 'brigittebardot',
 'brigittehelm',
 'brigittenielsen',
 'britmarl',
 'britmorgan',
 'britneyspear',
 'brittanycurran',
 'brittanydaniel',
 'brittanymurphi',
 'brittanysnow',
 'brittekland',
 'brittneypowel',
 'brittrobertson',
 'brockpet',
 'brook',
 'brookeadam',
 'brookecoleman',
 'brooked',
 'brookelangton',
 'brookeshield',
 'brown',
 'brucealtman',
 'brucecampbel',
 'brucedavison',
 'brucedern',
 'brucegreenwood',
 'brucejon',
 'brucemcgil',
 'brucepayn',
 'brucesp',
 'brucewilli',
 'brunocampo',
 'brunocrem',
 'brunoganz',
 'bryancallen',
 'bryancranston',
 'bryangreenberg',
 'brycedallashoward',
 'bríanf',
 'buckley',
 'budcort',
 'budluckey',
 'burghartklaußn',
 'burliv',
 'burrow',
 'burtlancast',
 'burtreynold',
 'burtward',
 'burtyoung',
 'bush',
 'bushewright',
 'bustarhym',
 'busterkeaton',
 'buzzaldrin',
 'byrn',
 'byronmann',
 'bálintpéntek',
 'bárbaragoenaga',
 'bárbaramori',
 'béatricebonifassi',
 'béatricedal',
 'béladóra',
 'bérénicebejo',
 'caerthanbank',
 'caiojunqueira',
 'caitlinclark',
 'caitlinfitzgerald',
 'caitlinkeat',
 'caleblandryjon',
 'callanmcauliff',
 'callumblu',
 'callumkeithrenni',
 'calvinlevel',
 'calvinlockhart',
 'camclark',
 'cameron',
 'cameronbright',
 'camerondiaz',
 'cameronmil',
 'cameronrichardson',
 'camgigandet',
 'camilamárdila',
 'camillabel',
 'campbellscott',
 'candaceevanofski',
 'candacehutson',
 'candelafernández',
 'candicebergen',
 'candicecok',
 'candiselakota',
 'candyford',
 'caradelevingn',
 'careylowel',
 'careymean',
 'careymulligan',
 'caricevanhouten',
 'carlagugino',
 'carlocecchi',
 'carlosalberto',
 'carlosbelloso',
 'carlosgallardo',
 'carlosmencia',
 'carlosmontalbán',
 'carlospratt',
 'carloverdon',
 'carlweath',
 'carlyschroed',
 'carmenejogo',
 'carmenelectra',
 'carmenmaura',
 'carolblock',
 'carolburnett',
 'carolebouquet',
 'caroledavi',
 'carolineaaron',
 'carolinebarri',
 'carolined',
 'carolinedhaverna',
 'carolinegoodal',
 'carolinekava',
 'carolinewilliam',
 'carolkan',
 'carolynsaxon',
 'carrie',
 'carriecoon',
 'carriefish',
 'carriemaclemor',
 'carriesnodgress',
 'carrollbak',
 'carrollo',
 'carrottop',
 'carterjenkin',
 'cary',
 'caryelw',
 'carygr',
 'casanvar',
 'caseyaffleck',
 'caseyduboi',
 'caseygooden',
 'casperchristensen',
 'caspervandien',
 'cassandrascerbo',
 'cassidygifford',
 'catalinasandinomoreno',
 'cateblanchett',
 'catharinebolz',
 'catherinedeneuv',
 'catherineflor',
 'catherinehick',
 'catherinekeen',
 'catherinelloydburn',
 'catherinemccormack',
 'catherineo',
 'catherineoxenberg',
 'catherinezeta',
 'cathey',
 'cathymoriarti',
 'catrionamaccol',
 'caydenboyd',
 'ceciliacheung',
 'cecilianarova',
 'cecilkellaway',
 'cedrichardwick',
 'cedrictheentertain',
 'ceelogreen',
 'celiaimri',
 'cesargarcia',
 'cesarramo',
 'chacecrawford',
 'chadallen',
 'chadlindberg',
 'chadmichaelmurray',
 'chadwickboseman',
 'chaimgirafi',
 'chaimtopol',
 'chalogonzález',
 'chandlercanterburi',
 'chandrawest',
 'chaneykley',
 'changchen',
 'channingtatum',
 'chard',
 'charismichelsen',
 'charlesaznavour',
 'charlesberl',
 'charlesd',
 'charlesdurn',
 'charlesgray',
 'charlesgrodin',
 'charleshenrywyson',
 'charlesk',
 'charlesludlam',
 'charlesmartinsmith',
 'charlesnapi',
 'charless',
 'charliechaplin',
 'charliecox',
 'charlieday',
 'charliehunnam',
 'charliekorsmo',
 'charliemcdermott',
 'charlierow',
 'charliesheen',
 'charlietahan',
 'charliewatt',
 'charlieyeung',
 'charlizetheron',
 'charlottebøv',
 'charlottefrogn',
 'charlottegainsbourg',
 'charlottelebon',
 'charlottelewi',
 'charlotterampl',
 'charlotteriley',
 'charlottestewart',
 'charltonheston',
 'chasemasterson',
 'chatchaiplengpanich',
 'chazzpalminteri',
 'cheechmarin',
 'chehonwespi',
 'chelcieross',
 'chelseafield',
 'chelseahandl',
 'chelsearendon',
 'chelseswain',
 'chendao',
 'chengwuguo',
 'chenoamaxwel',
 'chensicheng',
 'cher',
 'cheramileigh',
 'cherylcampbel',
 'cherylhin',
 'cherylladd',
 'cheryltieg',
 'chevychas',
 'cheyennejackson',
 'chiaramastroianni',
 'chicao',
 'chimcbrid',
 'chipbent',
 'chiwetelejiofor',
 'chloehol',
 'chloëgracemoretz',
 'chloësevigni',
 'choimin',
 'chowyun',
 'chrisbisson',
 'chrisbrown',
 'chriscarey',
 'chriscarlson',
 'chriscarmack',
 'chrischatman',
 'chriscoop',
 'chrisdiamantopoulo',
 'chrisdoran',
 'chriseigeman',
 'chriselliott',
 'chrisevan',
 'chrishemsworth',
 'chrisivancev',
 'chriskattan',
 'chriskelli',
 'chrisklein',
 'chrismassoglia',
 'chrismessina',
 'chrismil',
 'chrisnew',
 'chrisnoth',
 'chriso',
 'chrispenn',
 'chrisphillip',
 'chrispin',
 'chrispontiu',
 'chrispratt',
 'chrisriggi',
 'chrisrock',
 'chrissand',
 'chrissarandon',
 'christabrittanyallen',
 'christenmooney',
 'christianbal',
 'christianby',
 'christiancampbel',
 'christianclavi',
 'christiankan',
 'christiankapp',
 'christianmckay',
 'christianrudd',
 'christianslat',
 'christianvazquez',
 'christinaaguilera',
 'christinaappleg',
 'christinabrucato',
 'christinachamb',
 'christinahart',
 'christinamilian',
 'christinaricci',
 'christinecavanaugh',
 'christinedunford',
 'christinetaylor',
 'christophecherki',
 'christopherabbott',
 'christopheratkin',
 'christopherbeir',
 'christophercarley',
 'christophercurri',
 'christopherdenham',
 'christophereccleston',
 'christopheregan',
 'christophergeorg',
 'christophergorham',
 'christopherguest',
 'christopherjudg',
 'christopherknight',
 'christopherlambert',
 'christopherle',
 'christopherlloyd',
 'christophermartin',
 'christophermcdonald',
 'christophermeloni',
 'christophermey',
 'christophermintz',
 ...]

In [51]:
['loved', 'loving', 'love']
['love', 'love', 'love']

['love', 'love', 'love']

In [52]:
ps.stem('danced')

'danc'

In [53]:
from sklearn.metrics.pairwise import cosine_similarity

In [54]:
similarity = cosine_similarity(vectors)

In [55]:
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x:x[1])[1:6]

[(43, 0.3333333333333334),
 (47, 0.3333333333333334),
 (94, 0.3333333333333334),
 (132, 0.3333333333333334),
 (206, 0.3333333333333334)]

In [56]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [57]:
recommend('Batman Begins')

The Dark Knight Rises
The Prestige
Operation Chromite
Harsh Times
Cars 2

In [58]:
new_df.iloc[1148].title

'The Sixth Sense'

In [59]:
import pickle

In [60]:
pickle.dump(new_df, open('movies.pkl', 'wb'))

In [61]:
new_df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [62]:
pickle.dump(new_df.to_dict(), open('movie_dict.pkl', 'wb'))

In [64]:
pickle.dump(similarity, open('similarity3.pkl', 'wb'))