In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
movies = movies.merge(credits, on='title')

In [6]:
movies['original_language'].value_counts()

en    4510
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
ko      12
cn      12
ru      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
id       2
ar       2
vi       1
sl       1
ps       1
no       1
ky       1
hu       1
pl       1
af       1
nb       1
tr       1
is       1
xx       1
te       1
el       1
Name: original_language, dtype: int64

In [7]:
#genres
#id
#keywords
#title
#overview
#cast
#crew

movies = movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [8]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4809 non-null   int64
 1   title     4809 non-null   object
 2   overview  4806 non-null   object
 3   genres    4809 non-null   object
 4   keywords  4809 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.6+ KB

In [9]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [10]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [11]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [12]:
movies.dropna(inplace=True)

In [13]:
movies.duplicated().sum()

0

In [14]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [15]:
import ast

def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [16]:
movies['genres'] = movies['genres'].apply(convert)

In [17]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [18]:
movies['keywords'] = movies['keywords'].apply(convert)

In [19]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [20]:
def convert3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if(counter!=3):
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [21]:
movies['cast'] = movies['cast'].apply(convert3)

In [22]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [23]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if(i['job']=='Director'):
            L.append(i['name'])
            break
    return L

In [24]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [25]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [26]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [27]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [28]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [29]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [30]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [31]:
movies['tags'] = movies['crew']

In [32]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],[AndrewStanton]

In [33]:
movies['tags'][0]

['JamesCameron']

In [34]:
new_df = movies[['movie_id','title','tags']]

In [35]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\SARVESH GANGU\AppData\Local\Temp\ipykernel_16672\3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [36]:
new_df.head()

   movie_id                                     title              tags
0     19995                                    Avatar      JamesCameron
1       285  Pirates of the Caribbean: At World's End     GoreVerbinski
2    206647                                   Spectre         SamMendes
3     49026                     The Dark Knight Rises  ChristopherNolan
4     49529                               John Carter     AndrewStanton

In [37]:
new_df['tags'][0]

'JamesCameron'

In [38]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\SARVESH GANGU\AppData\Local\Temp\ipykernel_16672\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [39]:
new_df.head()

   movie_id                                     title              tags
0     19995                                    Avatar      jamescameron
1       285  Pirates of the Caribbean: At World's End     goreverbinski
2    206647                                   Spectre         sammendes
3     49026                     The Dark Knight Rises  christophernolan
4     49529                               John Carter     andrewstanton

In [40]:
import nltk

In [41]:
from nltk.stem.porter import PorterStemmer

ps = PorterStemmer()

In [42]:
def stem(text):
    y = []
    
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [43]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\SARVESH GANGU\AppData\Local\Temp\ipykernel_16672\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [44]:
new_df['tags'][0]

'jamescameron'

In [45]:
new_df['tags'][1]

'goreverbinski'

In [46]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=5000, stop_words='english')

In [47]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [48]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [49]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [50]:
cv.get_feature_names()

D:\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['aaronhann',
 'aaronschneid',
 'abelferrara',
 'abram',
 'adambrook',
 'adamcarolla',
 'adamgoldberg',
 'adamgreen',
 'adamjayepstein',
 'adammarcu',
 'adammckay',
 'adamrapp',
 'adamrifkin',
 'adamshankman',
 'adl',
 'adrianlyn',
 'adrienneshelli',
 'agnieszkaholland',
 'agnieszkawojtowicz',
 'agustíndíazyan',
 'akikaurismäki',
 'akirakurosawa',
 'akivagoldsman',
 'akivaschaff',
 'alainresnai',
 'alanalda',
 'alancohn',
 'alanj',
 'alanmett',
 'alanpark',
 'alanpoul',
 'alanrudolph',
 'alanshapiro',
 'alansmithe',
 'alantaylor',
 'alanyuen',
 'albertbrook',
 'alberthugh',
 'alejandroagresti',
 'alejandroamenábar',
 'alejandrogonzáleziñárritu',
 'alejandromonteverd',
 'aleksandrveledinskiy',
 'alekseygerman',
 'alexanderpayn',
 'alexanderwitt',
 'alexandreaja',
 'alexcox',
 'alexcraigmann',
 'alexgarland',
 'alexgibney',
 'alexkendrick',
 'alexproya',
 'alexranarivelo',
 'alexrivera',
 'alexsmith',
 'alexvanwarmerdam',
 'alexzamm',
 'alfonsocuarón',
 'alfredhitchcock',
 'alicewu',
 'alisonmaclean',
 'alistergrierson',
 'allanarkush',
 'allandwan',
 'allencoult',
 'allenhugh',
 'allisonand',
 'allisonburnett',
 'alsillimanjr',
 'amandagusack',
 'amatescalant',
 'amyheckerl',
 'amyholdenjon',
 'analeinecalymayor',
 'anandtuck',
 'anderson',
 'andreaarnold',
 'andreadistefano',
 'andreikonchalovski',
 'andreitarkovski',
 'andrewadamson',
 'andrewbergman',
 'andrewbujalski',
 'andrewcurri',
 'andrewdavi',
 'andrewdominik',
 'andrewdougla',
 'andrewerwin',
 'andrewflem',
 'andrewhaigh',
 'andrewhyatt',
 'andrewjarecki',
 'andrewleman',
 'andrewmorahan',
 'andrewniccol',
 'andrewstanton',
 'andrewsteggal',
 'andrewtraucki',
 'andreyzvyagintsev',
 'andruchawaddington',
 'andrzejbartkowiak',
 'andréscouturi',
 'andrétéchiné',
 'andréøvred',
 'andycadiff',
 'andyfickman',
 'andygarcía',
 'andymuschietti',
 'andytenn',
 'angelarobinson',
 'angelinajoli',
 'angelopizzo',
 'angle',
 'annabeljankel',
 'annamastro',
 'annamuylaert',
 'annefletch',
 'annefontain',
 'anthonyc',
 'anthonyhemingway',
 'anthonyhickox',
 'anthonymann',
 'anthonyminghella',
 'anthonyo',
 'anthonypowel',
 'anthonyrusso',
 'anthonysilverston',
 'anthonystacchi',
 'antoinefuqua',
 'antoncorbijn',
 'antoniabird',
 'antoniobandera',
 'antoniosimoncini',
 'antonyhoffman',
 'anuragbasu',
 'arielvromen',
 'arienzo',
 'arieposin',
 'arifolman',
 'arisandel',
 'arjunsablok',
 'asgerleth',
 'asgharfarhadi',
 'ashbaron',
 'ashbrannon',
 'ashishr',
 'atomegoyan',
 'atwel',
 'audreywel',
 'avaduvernay',
 'avildsen',
 'avinesh',
 'ayanmukherje',
 'babaknajafi',
 'babarahm',
 'baltasarkormákur',
 'bannon',
 'barbetschroed',
 'barbrastreisand',
 'barnabythompson',
 'barrettesposito',
 'barrycook',
 'barrylevinson',
 'barryskolnick',
 'barrysonnenfeld',
 'barryw',
 'bartfreundlich',
 'bassett',
 'baxley',
 'bazluhrmann',
 'beckysmith',
 'beebankidron',
 'benaffleck',
 'benedekfliegauf',
 'benedikterlingsson',
 'benfalcon',
 'bengar',
 'bengluck',
 'benhzeitlin',
 'benjamindickinson',
 'benlewin',
 'bennettmil',
 'bennidiez',
 'bennyboom',
 'bensharpsteen',
 'bensonle',
 'benstassen',
 'benstil',
 'benwheatley',
 'benyoung',
 'bernardobertolucci',
 'bernhardwicki',
 'betogómez',
 'bettythoma',
 'bibobergeron',
 'bigasluna',
 'billbenenson',
 'billcondon',
 'billduk',
 'billeaugust',
 'billewoodruff',
 'billmelendez',
 'billmuir',
 'billpaxton',
 'billplympton',
 'billybobthornton',
 'billyk',
 'billyray',
 'billywild',
 'bindler',
 'blairerickson',
 'blairhay',
 'blakeedward',
 'blaustein',
 'blažzavršnik',
 'boazyakin',
 'bobbyfarrelli',
 'bobbyroth',
 'bobcatgoldthwait',
 'bobclark',
 'bobdolman',
 'bobfoss',
 'bobgiraldi',
 'bobgoss',
 'bobodenkirk',
 'bobrafelson',
 'bobsaget',
 'bobspier',
 'bongjoon',
 'bonniehunt',
 'borisrodriguez',
 'bowelch',
 'bozenga',
 'bradanderson',
 'bradbird',
 'bradcopeland',
 'bradfurman',
 'bradj',
 'bradleypark',
 'bradleyrustgray',
 'bradpeyton',
 'bradsilberl',
 'brandoncamp',
 'brandoncronenberg',
 'brandontrost',
 'breckeisn',
 'brendachapman',
 'brendanmalloy',
 'brenn',
 'brettleonard',
 'brettpip',
 'brettratn',
 'brianamil',
 'brianbaugh',
 'briancaunt',
 'briandannelli',
 'briandepalma',
 'briangibson',
 'brianhelgeland',
 'brianhenson',
 'brianherzling',
 'brianklugman',
 'briankoppelman',
 'brianlev',
 'brianperciv',
 'brianrobbin',
 'briantaylor',
 'briantrenchard',
 'brianyuzna',
 'brien',
 'brittallcroft',
 'bronwenhugh',
 'brook',
 'bruceberesford',
 'brucecampbel',
 'brucehunt',
 'brucemacdonald',
 'brucemalmuth',
 'brucemcculloch',
 'brucemcdonald',
 'brucepaltrow',
 'brunobarreto',
 'bryanbarb',
 'bryansing',
 'bud',
 'burrsteer',
 'byrd',
 'byronhoward',
 'bythewood',
 'callaghan',
 'callanbrunk',
 'calliekhouri',
 'cameroncrow',
 'camilledelamarr',
 'cardo',
 'cardon',
 'carlfranklin',
 'carloscarrera',
 'carlossaldanha',
 'carlossaura',
 'carlrinsch',
 'carltheodordrey',
 'carmenmarron',
 'carolinelink',
 'carolre',
 'carrollballard',
 'cartersmith',
 'caruso',
 'carybel',
 'carynwaecht',
 'cassandranicola',
 'catherinegund',
 'catherinehardwick',
 'catherinejelski',
 'cathymalkasian',
 'cecilb',
 'cedricnicolas',
 'chadhartigan',
 'chadkapp',
 'chandor',
 'charlesadelman',
 'charlesbinamé',
 'charlesferguson',
 'charlesherman',
 'charlesmartinsmith',
 'charlesmatthau',
 'charlesrobertcarn',
 'charless',
 'charlesshy',
 'charlesstoneiii',
 'charlest',
 'charliechaplin',
 'charliekaufman',
 'charlielevi',
 'chatrichalermyukol',
 'chenkaig',
 'cherylduny',
 'chrisatkin',
 'chrisbuck',
 'chriscart',
 'chriscolumbu',
 'chrisd',
 'chriseyr',
 'chrisgorak',
 'chriskenti',
 'chriskoch',
 'chrismark',
 'chrismil',
 'chrismorri',
 'chrisnahon',
 'chrisnoonan',
 'chrispain',
 'chrisrenaud',
 'chrisrock',
 'chrissand',
 'chrisshadley',
 'chrisstok',
 'christianalvart',
 'christiancarion',
 'christianditt',
 'christianduguay',
 'christiane',
 'christianrobinson',
 'christiansen',
 'christiansesma',
 'christianvolckman',
 'christinejeff',
 'christopheali',
 'christophebarrati',
 'christophegan',
 'christopherb',
 'christopherbessett',
 'christophercain',
 'christophererskin',
 'christopherguest',
 'christopherhutson',
 'christopherleitch',
 'christophermcquarri',
 'christophernolan',
 'christopherrobert',
 'christopherscottcherot',
 'christophersmith',
 'christopherspenc',
 'chriswedg',
 'chrisweitz',
 'chriswilliam',
 'chu',
 'chuckbowman',
 'chuckrussel',
 'chucksheetz',
 'ciaranfoy',
 'clarekiln',
 'clarkbak',
 'clarkgregg',
 'clarkjohnson',
 'claudechabrol',
 'claudemil',
 'claudiallosa',
 'claudiasainte',
 'clinteastwood',
 'clivebark',
 'coakley',
 'codycameron',
 'cohen',
 'cokygiedroyc',
 'colinhiggin',
 'colinminihan',
 'colinstraus',
 'colintrevorrow',
 'collinjosephn',
 'collinschiffli',
 'connor',
 'conormcmahon',
 'conormcpherson',
 'conradvernon',
 'coop',
 'corbinbernsen',
 'coreygr',
 'coreyyuenkwai',
 'coryedward',
 'cosmato',
 'costa',
 'courtneyhunt',
 'courtneysolomon',
 'craigbolotin',
 'craigbrew',
 'craiggillespi',
 'craigjohnson',
 'craigmazin',
 'craigmoss',
 'craigr',
 'craigzobel',
 'cristianmungiu',
 'curtishanson',
 'cutler',
 'cyrusnowrasteh',
 'cédricklapisch',
 'dagurkári',
 'daisyvonscherlermay',
 'damiannieman',
 'damienchazel',
 'damiendantewayan',
 'damieno',
 'damircat',
 'damonsantostefano',
 'dancurti',
 'dancutforth',
 'danfogelman',
 'dangilroy',
 'danharri',
 'danielalgr',
 'danielbarb',
 'danielbarnz',
 'danielespinosa',
 'danielhsia',
 'danielle',
 'danielmellitz',
 'danielmyrick',
 'danielpetrie',
 'danielsackheim',
 'danielschecht',
 'danielstamm',
 'danieltaplitz',
 'danireland',
 'danmaz',
 'dannyboyl',
 'dannycannon',
 'dannydevito',
 'dannylein',
 'dannypang',
 'dannyperez',
 'dannyprovenzano',
 'dannysteinmann',
 'dano',
 'danre',
 'danrush',
 'danscanlon',
 'danst',
 'dantrachtenberg',
 'danyboon',
 'danzukov',
 'darinscott',
 'darnellmartin',
 'darrelljamesroodt',
 'darrenaronofski',
 'darrengr',
 'darrenlynnbousman',
 'darrenpress',
 'darrenstein',
 'darylwein',
 'davecarrol',
 'davegreen',
 'davemckean',
 'davemey',
 'davepayn',
 'davewilli',
 'davi',
 'davidanspaugh',
 'davidatkin',
 'daviday',
 'davidbow',
 'davidboyd',
 'davidcaffrey',
 'davidcarson',
 'davidcronenberg',
 'davidcross',
 'daviddecoteau',
 'daviddobkin',
 'davidduchovni',
 'davide',
 'davidevan',
 'davidf',
 'davidfinch',
 'davidfrankel',
 'davidgelb',
 'davidgordongreen',
 'davidhackl',
 'davidhand',
 'davidhayt',
 'davidhewlett',
 'davidjacobson',
 'davidkellogg',
 'davidkoepp',
 'davidlachapel',
 'davidlam',
 'davidlean',
 'davidleland',
 'davidloweri',
 'davidlynch',
 'davidm',
 'davidmamet',
 'davidmcn',
 'davidmirkin',
 'davidmoreau',
 'davidnixon',
 'davidnutt',
 'davido',
 'davidoelhoffen',
 'davidr',
 'davidray',
 'davidraynr',
 'davidrobertmitchel',
 'davidrodriguez',
 'davids',
 'davidschwimm',
 'davidsilverman',
 'davidsington',
 'davidslad',
 'davidsoren',
 'davidtwohi',
 'davidwain',
 'davidwebbpeopl',
 'davidwin',
 'davidwint',
 'davidworth',
 'davidy',
 'davidzuck',
 'davisguggenheim',
 'daxshepard',
 'deandebloi',
 'deanisraelit',
 'deanparisot',
 'deanwright',
 'debhagan',
 'deborahanderson',
 'deborahkaplan',
 'debragranik',
 'deepamehta',
 'demianlichtenstein',
 'demil',
 'denaseidel',
 'denisvilleneuv',
 'denniegordon',
 'dennisdugan',
 'dennisgansel',
 'dennishopp',
 'dennisiliadi',
 'denysarcand',
 'denzelwashington',
 'deontaylor',
 'derekcianfr',
 'derekyeetung',
 'derickmartini',
 'derrickbort',
 'deryckbroom',
 'desmcanuff',
 'desouza',
 'deweynick',
 'dexterfletch',
 'dianeenglish',
 'dianekeaton',
 'dickerson',
 'dickrichard',
 'dippé',
 'ditomontiel',
 'djpooh',
 'dominicburn',
 'dominicsena',
 'dominiqueothenin',
 'donaldpetri',
 'donbluth',
 'doncoscarelli',
 'donmancini',
 'donmichaelpaul',
 'donnel',
 'donnelli',
 'donscardino',
 'donsiegel',
 'dontaylor',
 'dougatchison',
 'dougblock',
 'douglasaarniokoski',
 'douglascheek',
 'douglasmcgrath',
 'douglastrumbul',
 'douglefl',
 'dougliman',
 'dougmchenri',
 'drakedoremu',
 'drewbarrymor',
 'drewgoddard',
 'drormoreh',
 'duanejourney',
 'duncanjon',
 'duncantuck',
 'dustinhoffman',
 'dutton',
 'dwighth',
 'dylanbank',
 'eddect',
 'eddieo',
 'edgarwright',
 'edgass',
 'edharri',
 'edwardburn',
 'edwarddmytryk',
 'edwardhal',
 'edwardnorton',
 'edwardzwick',
 'ekachaiuekrongtham',
 'elainemay',
 'eldarrapaport',
 'eliakazan',
 'eliasmerhig',
 'elicraig',
 'eliroth',
 'elizabethallenrosenbaum',
 'elizabethbank',
 'elli',
 'elloryelkayem',
 'emileardolino',
 'emilioestevez',
 'emiliosiri',
 'emilydel',
 'emilyyoung',
 'emma',
 'enriquebegné',
 'ericblakeney',
 'ericbress',
 'ericbrevig',
 'ericbross',
 'ericbugbe',
 'ericdarnel',
 'ericeason',
 'ericengland',
 'ericlartigau',
 'ericlavain',
 'ericmendelsohn',
 'ericnichola',
 'ericschaeff',
 'ericsoncor',
 'ericstyl',
 'ericvalett',
 'erikcanuel',
 'erikwhit',
 'ernestr',
 'erniebarbarash',
 'errolmorri',
 'etancohen',
 'eugenioderbez',
 'eugènelourié',
 'eytanfox',
 'fabiánbielinski',
 'fatihakin',
 'fedealvarez',
 'fentonbailey',
 'fergalreilli',
 'fernandobaezmella',
 'fernandoleóndearanoa',
 'fernandomeirel',
 'ferozabbaskhan',
 'ferrant',
 'ferzanozpetek',
 'finatorr',
 'flaherti',
 'florent',
 'florianhenckelvondonnersmarck',
 'floriasigismondi',
 'floydmutrux',
 'forestwhitak',
 'frak',
 'francescagregorini',
 'francisfordcoppola',
 'francislawr',
 'franckkhalfoun',
 'francozeffirelli',
 'frankborzag',
 'frankcapra',
 'frankcoraci',
 'frankdarabont',
 'franklaloggia',
 'franklinj',
 'franklotito',
 'frankmarshal',
 'frankmil',
 'franknissen',
 'frankoz',
 'frankpassingham',
 'frankperri',
 'franksebastiano',
 'frankwhaley',
 'françoisgirard',
 'françoisozon',
 'françoisrichet',
 'françoistruffaut',
 'freddekk',
 'freddurst',
 'frederikduchau',
 'fredsavag',
 'fredschepisi',
 'fredwalton',
 'fredwolf',
 'fredzinnemann',
 'freeman',
 'fritzlang',
 'froyland',
 'frédéricauburtin',
 'furi',
 'fyodorbondarchuk',
 'gabeibáñez',
 'gabrielatagliavini',
 'gabrielemuccino',
 'gallego',
 'garethedward',
 'garethevan',
 'garrymarshal',
 'garthjen',
 'garychapman',
 'garydavidgoldberg',
 'garyfled',
 'garygoldman',
 'garygray',
 'garyhalvorson',
 'garyhardwick',
 'garymckendri',
 'garynelson',
 'garyross',
 'garysherman',
 'garyshor',
 'garysinyor',
 'garytrousdal',
 'garywinick',
 'gasparnoé',
 'gavinhood',
 'gavino',
 'gavinwiesen',
 'gavra',
 'genequintano',
 'geneteigland',
 'genndytartakovski',
 'geoffmurphi',
 'geoffreysax',
 'georgea',
 'georgearmitag',
 'georgeclooney',
 'georgecukor',
 'georgegallo',
 'georgehickenloop',
 'georgeluca',
 'georgemil',
 'georgenolfi',
 'georgep',
 'georgeratliff',
 'georgeroyhil',
 'georgesidney',
 'georgesteven',
 'georget',
 'georgetillman',
 'georgiahilton',
 'geraldpotterton',
 'gerardjohnston',
 'gerryl',
 'giacoppola',
 'gideonraff',
 'giljung',
 'gilkenan',
 'gillespaquet',
 'gillianarmstrong',
 'gillianrobespierr',
 'ginaprince',
 'giovannizelko',
 'girard',
 'giulianomontaldo',
 'giuseppetornator',
 'glenmorgan',
 'glennficarra',
 'gnanarajasekaran',
 'gonzalolópez',
 'goranduk',
 'gordonchan',
 'goreverbinski',
 'goy',
 'gr',
 'graham',
 'grantheslov',
 'gregberlanti',
 'gregcoolidg',
 'gregharrison',
 'gregmarck',
 'gregmottola',
 'gregorjordan',
 'gregoryhoblit',
 'gregoryjacob',
 'gregorynava',
 'gregorypoiri',
 'gregorywiden',
 'griffindunn',
 'griffith',
 'guillaumecanet',
 'guillaumeivernel',
 'guillermodeltoro',
 'gurinderchadha',
 'gusvans',
 'gutierrez',
 'guyhamilton',
 'guymaddin',
 'guyritchi',
 'gyu',
 'gáborcsupó',
 'gérardkrawczyk',
 'hal',
 'halhaberman',
 'halneedham',
 'hamtran',
 'hancock',
 'hankbraxtan',
 'hanlon',
 'hanscanosa',
 'hanspettermoland',
 'haraldreinl',
 'haraldzwart',
 'harleycokeliss',
 'harmagesinghkalirai',
 'harmonykorin',
 'haroldbeck',
 'haroldcronk',
 'haroldrami',
 'harrybeaumont',
 'hartbochn',
 'hav',
 'hayaomiyazaki',
 'hayleycloak',
 'heidiew',
 'henryalexrubin',
 'henrybean',
 'henryhathaway',
 'henryhobson',
 'henryjaglom',
 'henryjoost',
 'henryk',
 'henrykost',
 'henryselick',
 'herbertross',
 'herbfre',
 'hideakianno',
 'hideonakata',
 'hilarybrough',
 'hironobusakaguchi',
 'hitoshimatsumoto',
 'ho',
 'hogan',
 'hors',
 'houhsiao',
 'howarddeutch',
 'howardhawk',
 'howardzieff',
 'hoytyeatman',
 'hsien',
 'huckbotko',
 'huerhod',
 'hughhudson',
 'hughjohnson',
 'hughwilson',
 'hunt',
 'hunterrichard',
 'iainsoftley',
 'ianfitzgibbon',
 'ianiqbalrashid',
 'iansharp',
 'icecub',
 'ingmarbergman',
 'innaevlannikova',
 'irasach',
 'irvinkershn',
 'irwinwinkl',
 'isaacflorentin',
 'isabelcoixet',
 'istvánszabó',
 'ivanengl',
 'ivankavanagh',
 'ivanreitman',
 'jackconway',
 'jackhel',
 'jackiechan',
 'jackieearlehaley',
 'jackperez',
 'jackshold',
 'jacksmight',
 'jacobaaronest',
 'jacobooyen',
 'jacquesannaud',
 'jacquesmantello',
 'jacquesperrin',
 'jafarpanahi',
 'jakegoldberg',
 'jakekasdan',
 'jakepaltrow',
 'jakeschrei',
 'jakescott',
 'jamaafanaka',
 'jamalhil',
 'jameldebbouz',
 'jamesalgar',
 'jamesbidgood',
 'jamesbobin',
 'jamesbridg',
 'jamescameron',
 'jamescox',
 'jamesd',
 'jamesdavidpasternak',
 'jamesdemonaco',
 'jamesdodson',
 'jamesfargo',
 'jamesfoley',
 'jamesfrawley',
 'jamesgartn',
 'jamesgray',
 'jamesgunn',
 'jamesisaac',
 'jamesivori',
 'jameskerwin',
 'jamesl',
 'jamesmanera',
 'jamesmangold',
 'jamesmarsh',
 'jamesmcteigu',
 'jamesmelkonian',
 'jamesmottern',
 'jamesnunn',
 'jameso',
 'jamesponsoldt',
 'jamesschamu',
 'jamestoback',
 'jameswan',
 'jameswatkin',
 'jameswhal',
 'jameswong',
 'jamiebabbit',
 'jamieblank',
 'jamiethrav',
 'jamietravi',
 'jaminwinan',
 'jandebont',
 'janecampion',
 'janpinkava',
 'januszkamiński',
 'jaredhess',
 'jasonalexand',
 'jasonbateman',
 'jasonconneri',
 'jasoneisen',
 'jasonfriedberg',
 'jasonmarsden',
 'jasonmil',
 'jasonmoor',
 'jasonreitman',
 'jasonston',
 'jasontrost',
 'jasonzada',
 'jaumebalagueró',
 'jaumecollet',
 'jayalaimo',
 'jaychandrasekhar',
 'jaycox',
 'jayduplass',
 'jaylevey',
 'jayoliva',
 'jayroach',
 'jayrussel',
 ...]

In [51]:
['loved', 'loving', 'love']
['love', 'love', 'love']

['love', 'love', 'love']

In [52]:
ps.stem('danced')

'danc'

In [53]:
from sklearn.metrics.pairwise import cosine_similarity

In [54]:
similarity = cosine_similarity(vectors)

In [55]:
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x:x[1])[1:6]

[(25, 1.0), (279, 1.0), (282, 1.0), (587, 1.0), (2409, 1.0)]

In [56]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [57]:
recommend('Batman Begins')

The Dark Knight
Interstellar
Inception
Batman Begins
Insomnia

In [58]:
new_df.iloc[1148].title

'The Sixth Sense'

In [59]:
import pickle

In [60]:
pickle.dump(new_df, open('movies.pkl', 'wb'))

In [61]:
new_df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [62]:
pickle.dump(new_df.to_dict(), open('movie_dict.pkl', 'wb'))

In [63]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))